<div class="centered-horizontal-container">
  <form method="post" action="{{ path }}" autocomplete="off">
      {{ form.hidden_tag() }}
      <table>
          <tbody class="centered-horizontal-container">
              {% for field in form if field.widget.input_type != 'hidden' %}
              <tr>
                  {% if field.type != 'SubmitField' %}
                  <td>{{ field.label }}</td>
                  {% endif %}
                  <td>
                      {% if field.type == 'SelectMultipleField' %}
                          {# Initialize an empty list to store class names #}
                          {% set css_classes = ['select-multiple-field'] %}
                          
                          {# Iterate over each option in the SelectMultipleField #}
                          {% for option in field.choices %}
                              {# Check if the current option's value is in request.args.getlist('topic') #}
                              {% if option[0] in request.args.getlist('topic') %}
                                  {# If yes, add 'active' class to the list #}
                                  {% set css_classes = css_classes + ['active'] %}
                              {% endif %}
                          {% endfor %}
                          
                          {# Join the list of class names into a string separated by spaces #}
                          {{ field(class_=' '.join(css_classes)) }}
                      {% else %}
                          {{ field }}
                      {% endif %}
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </form>
</div>
