    <div class="video-container centered-horizontal-container non-video-thumbnail">
            <h2 class="non-video-name">{{ repo.name }}</h2>
            <!-- Include Github button if there is a Github -->
            <!-- {% if repo.html_url %}
                {% include "/components/buttons/github.html" %}
            {% endif %} -->
            
            <!-- Include 'Try it' button if there is a demo homepage -->
            {% if repo.homepage %}
                {% include "/components/buttons/try_it.html" %}
            {% endif %}
    </div>
