<div class="repo centered-vertical-container">
    {% if repo.video_filename or repo.thumbnail_filename %}
        {% include "/components/video.html" %}
    {% else %}
        {% include "/components/non-video-thumbnail.html" %}
    {% endif %}
    <div class="centered-horizontal-container">
        <p class="repo-description">{{ repo.description }}</p>
        {% include "/components/buttons/github.html" %}
        {% include "/components/buttons/try_it.html" %}
    </div>
    <div class="centered-horizontal-container">
        {% include "/components/topics.html" %}
    </div>
</div>
