<script>
    document.addEventListener('DOMContentLoaded', function() {
        if (window.innerWidth > 768) {
            let videos = Array.from(document.querySelectorAll('video'));
    
            videos.forEach(function(video) {
                // Function to handle interaction with the video element
                function handleVideoInteraction(event) {
                    if (event.type === 'click' || event.type === 'play') {
                        video.classList.add('clicked');
                        pauseOtherVideos(videos, video);
    
                        // Ensure only one video is clicked at a time
                        if (video.classList.contains('clicked')) {
                            videos.forEach(function(otherVideo) {
                                if (otherVideo !== video) {
                                    otherVideo.classList.remove('clicked');
                                }
                            });
                        }
                    }
                }
    
                // Listen for clicks on the video
                video.addEventListener('click', handleVideoInteraction);
    
                // Listen for play events on the video
                video.addEventListener('play', handleVideoInteraction);
            });
    
            // Listen for clicks OUTSIDE of the video
            document.addEventListener('click', function(event) {
                videos.forEach(function(video) {
                    const isClickedInsideVideo = video.contains(event.target);
                    if (!isClickedInsideVideo) {
                        video.classList.remove('clicked');
                        video.poster = video.getAttribute('poster');
                        video.load(); 
                    }
                });
            });
    
            // Listen for Escape key press
            document.addEventListener('keydown', function(event) {
                if (event.key === 'Escape') {
                    videos.forEach(function(video) {
                        if (video.classList.contains('clicked')) {
                            video.classList.remove('clicked');
                            video.poster = video.getAttribute('poster');
                            video.load(); 
                        }
                    });
                }
            });
    
        function pauseOtherVideos(videos, currentVideo) {
            videos.forEach(video => {
                if (video !== currentVideo) {
                    pauseVideo(video);
                }
            });
        }
    
        function pauseVideo(video) {
            video.pause();
        }
    
        function stopVideo(video) {
            video.currentTime = 0;
            video.pause();
        }
    }
    });
    </script>
    