<script>
    document.addEventListener('DOMContentLoaded', function() {
        if (window.innerWidth <= 1024) {
            let videos = Array.from(document.querySelectorAll('video'));
            videos.forEach(video => video.controls = true);
            let currentVideo = null;

            videos.forEach(video => {
                video.addEventListener('play', () => {
                    if (currentVideo) currentVideo.load();
                    currentVideo = video
                });

                video.addEventListener('pause', () => {
                    video.load();
                    currentVideo = null;
                });          
            });
        }
    });
</script>
