@import url('variables.css');

.active {
    font-weight: 600;
}

html,
body, 
.content, 
.centered-vertical-container, 
.centered-horizontal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.centered-horizontal-container {
    flex-direction: row;
}

.non-header {
    margin-top: var(--header-height);
    height: auto;
}

.repos-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
    width: 90vw;
    
}

.repo {
    width: 30vw;
    height: fit-content;
    min-height: 240px;
    margin: 0px;
    padding: 0px;
    padding-block: 20px;
}

.repo-button > * {
    padding: 0px;
    margin: 0px;
}

.repo-button > button > i {
    font-size: 18px;
}

nav,
nav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.repo-text-container {
    flex-direction: column;
    word-break: break-word;
}

.topic {
    background-color: var(--light-grey);
    font-size: var(--font-smallest);
    padding-inline: 8px;
    padding-block: 5px;
    margin: 2px;
    border-radius: 20px;
    word-break: break-word;
    height: fit-content;
}
