@import url('variables.css');

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    padding: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: var(--white);
    width: 240;
    height: fit-content;
    border-radius: var(--border-radius-thumbnails);
    border: 1px solid var(--medium-grey);
    z-index: 1;
    margin-left: 20px;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
    left: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
}