@import url('variables.css');

@media only screen and (max-width: 1448px) {
    #desktop-title {
        display: none;
    }

    #intro-section {
        flex-direction: column;
    }

    #mobile-title {
        display: flex;
        justify-content: center;
    }

    #profile-pic {
        width: 250px;
        height: 250px;
    }

    .non-header {
        margin-top: var(--header-height-mobile);
    }

    .social-nav {
        justify-content: center;
        margin: 0px;
    }

    .social-nav-desktop {
        display: none;
    }

    .social-nav-mobile {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
}


@media only screen and (max-width: 1024px) {
    button {
        padding: 5px;
        margin: 5px;
    }

    h1 {
        margin-top: 30px;
    }

    i {
        font-size: 30px;
    }

    iframe,
    video,
    .desktop-video,
    .video-container, 
    .highlights-video {
        width: var(--video-width-mobile);
        height: var(--video-height-mobile);
    }


    #intro-section-text {
        font-size: var(--font-small);
        width: var(--video-width-mobile);
        padding: 10px;
    }

    .desktop-video.clicked {
        width: var(--video-width-on-click-mobile); 
    }

    .dropdown:hover .dropdown-content {
        transform: translateX(-80%);
    }

    .dropdown-content {
        width: 260;
    }

    .icon-button {
        padding: 0px;
    }


    .navlink {
        font-size: var(--font-large);
        padding-inline: 5px;
    }

    .non-header {
        padding: 0px;
        margin: 0px;
        margin-top: var(--header-height-mobile);
    }

    .repo, 
    .repos-container {
        width: 80vw;
        display: flex;
        justify-content: center;
    }

    .social-nav-desktop {
        display: none;
    }

    .social-nav-mobile {
        display: flex;
    }
}