@import url('variables.css');

ul,
li {
    padding: 0px;
    margin: 0px;
}

nav,
nav > ul {
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.dropdown-button,
.navlink {
    font-size: var(--font-large);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navlink {
    padding: 0px;
    margin: 0px;
}

.page-navlink {
    margin-inline: 10px;
    margin-block: 20px;
}

.social-nav {
    margin: 0px;
    padding: 0px;
    justify-content: end;
    margin-right: 40px;
}

.social-nav-mobile {
    display: none;
}
