:root {
    --black: #202123;
    --white: #FFFFFF;
    --ice: #E8F3FC;
    --sky: #A3CEF3;
    --light-grey: #E9ECEF;
    --medium-grey: #DCDEE1;
    --grey: #B4B4B8;
    --cafe-con-leche: #D5BDAF;
    --sand: #BE9E84;
    --iced-coffee: #E0CEC3;
    --creme: #F5EFEB;
    --tan: #B08A69;
   
    --font-largest: 50;
    --font-larger: 30;
    --font-large: 20;
    --font-medium: 18;
    --font-small: 16;
    --font-smallest: 14;
    --font-thumbnail-title: 32;

    --border-radius-dropdown: 15px;
    --border-radius-buttons: 20px;
    --border-radius-thumbnails: 25px;

    --header-height: 200px;
    --header-height-mobile: 250px;

    --profile-pic-size: 300px;
    --profile-pic-size-mobile: 200px;

    --video-width: 25vw;
    --video-height: 14.0625vw;

    --video-width-mobile: 80vw;
    --video-height-mobile: 45vw;

    --video-width-on-click: 60vw;
    --video-width-on-click-mobile: 90vw;
    --video-move-to-center-speed: 0.5s;

    --max-z-index: 1000;
    --second-to-max-z-index: 999;
}
