@import url('variables.css');

.video-container {
    position: relative;
}

.desktop-video,
.video-container {
    width: var(--video-width);
    height: var(--video-height);
    border-radius: var(--border-radius-thumbnails);
}

.desktop-video{
    transition: z-index 0s, transform 0.5s ease, width 0.5s ease;
    z-index: 1; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.desktop-video.clicked {
    z-index: var(--max-z-index);
    width: var(--video-width-on-click); 
    height: auto;
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    position: fixed; 
}

.highlights-video {
    margin-left: 250px;
}