<nav>
    <ul>
        {% for key, value in PAGES.items() %}
        {% if key == 'More' %}
        <div class="dropdown">
            <button class="icon-button dropdown-button">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="dropdown-content">
                {% include "/components/form.html" %}
            </div>
        {% else %}
        <li>
            <button>
                <a href="{{ PAGES[key] }}" class="navlink {% if request.path == value %}active{% endif %}">{{ key }}</a>
            </button>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>