<nav>
    <ul>
        {% for key, value in PAGES.items() %}
        {% if key == 'More' %}
        <li>
            <div class="dropdown">
                <a class="navlink page-navlink dropdown">{{ key }}</a>
                <div class="dropdown-content">
                    {% include "/components/navs/filters.html" %}
                </div>
            </div>
        </li>
        {% else %}
        <li>
            <a href="{{ PAGES[key] }}" class="navlink page-navlink {% if request.path == value %}active{% endif %}">{{ key }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>