{% extends "base.html" %}
{% block content %}
<div id="intro-section">
    {% include "/components/profile_pic.html" %}
    <div id="intro-section-text">
        <!-- TODO: customize the following summary for the 'Home' page -->
        <p>
            Hi! I'm Frankie (she/her). I’m a Software Engineer with a background in Mechanical Engineering from Stanford. 
            I have 8 years of experience delivering products from concept to production at early-stage startups including 
            <a href="/highlights" target="_blank">Thyme </a>(an AI personal assistant), <a href="/highlights" target="_blank">StreetCode </a>(a nonprofit working to bridge the digital divide), <a href="/highlights" target="_blank">Neuralink </a>(a brain implant that can read brain activity) and <a href="/highlights" target="_blank">Plenty </a>(an automated vertical farm). I’m passionate about technology that is empowering & equitable.
        </p>
        <p>
            Head over to the 
            <a href="/highlights">Highlights</a> page to start exploring my work.
        </p>
        <p>I'd love to connect! 
            <a target="_blank" href='{{ EMAIL_ME_URL }}'>{{ EMAIL }}</a>       
        </p>
        <!-- TODO: customize the above summary for the 'Home' page -->

    </div>
</div>
{% endblock %}