{% extends "base.html" %}
{% block content %}
<div id="intro-section">
    {% include "/components/profile_pic.html" %}
    <div id="intro-section-text">

        <!-- TODO: customize the following summary for the 'Home' page -->
        <p>
            {% include "/components/summaries/summary-desktop.html" %}
            {% include "/components/summaries/summary-mobile.html" %}
            <a href="/highlights" target="_blank">Thyme </a> 
            (an AI personal assistant), 
            <a href="/highlights" target="_blank">Neuralink </a>
            (a brain implant that can read brain activity) and 
            <a href="/highlights" target="_blank">Plenty </a> 
            (an automated vertical farm). 
            I’m passionate about technology that is empowering & equitable.
        </p>
        <p>
            Head over to the 
            <a href="/highlights">Highlights</a> page to start exploring my work.
        </p>
        <p>I'd love to connect! 
            <a target="_blank" href='{{ EMAIL_ME_URL }}'>{{ EMAIL }}</a>       
        </p>
        <!-- TODO: customize the above summary for the 'Home' page -->

    </div>
</div>
{% endblock %}