{% extends "base.html" %}
{% block content %}
{% include "/components/headers/header.html" %}
<div class="non-header centered-vertical-container">
<section class="centered-vertical-container">
    <div id="intro-section">
            {% include "/components/profile_pic.html" %}
            <div id="intro-section-text">
                <p>
                    Hi! I'm Frankie (she/her). I’m a Software Engineer with a background in Mechanical Engineering from Stanford. 
                    I have 8 years of experience delivering products from concept to production at early-stage 
                    startups including Thyme (an AI personal assistant), Neuralink (a brain implant that reads 
                    electrical signals from the brain) and Plenty (an automated vertical farm). 
                    I’m passionate about technology that is empowering & equitable.


                </p>
                <p>
                    Head over to the 
                    <a href="/highlights"><strong>Highlights</strong></a> page to start exploring my work.
                </p>
                <p>I'd love to connect! 
                    <a target="_blank" href='https://mail.google.com/mail/u/0/?fs=1&to=fwesparza@gmail.com&tf=cm'>
                        <strong>fwesparza@gmail.com</strong>
                    </a>       
                </p>
            </div>
    </div>
</section>
</div>
{% endblock %}